<div fxLayout="row" fxlayout.gt-xs="column" fxLayoutAlign="space-around start" style=" padding-bottom: 20px;">
  <div fxFlex.gt-md="65" fxFlex.gt-xs="100" >
    <app-sales-statistics></app-sales-statistics>
  </div>

  <div fxFlex.gt-md="30" fxFlex.gt-xs="100">
    <app-stock-trends></app-stock-trends>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="65" fxLayoutAlign="space-between start">
    <div fxFlex="45">
      <app-ratio-analysis></app-ratio-analysis>
    </div>
    <div fxFlex="45">
      <app-performance></app-performance>
    </div>
  </div>

  <div fxFlex="30">
    <app-consumed-budget></app-consumed-budget>
  </div>
</div>
