<mat-card class="card-conainer">
  <mat-card-header>
    <mat-card-title>Sales Statistics</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list aria-label="Time">
        <mat-chip color="primary" selected>All Time</mat-chip>
        <mat-chip>This Year</mat-chip>
        <mat-chip>This Week</mat-chip>
        <mat-chip>Today</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div >
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [curve]="curve"
        [results]="multi"
      >
      </ngx-charts-line-chart>
    </div>
  </mat-card-content>
</mat-card>
