<mat-card class="card-conainer">
  <mat-card-header>
    <mat-card-title>Stocks Trend</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="listRequests">
    <table
      mat-table
      [dataSource]="listRequests"
      class="mat-elevation-z8 fullWidth"
    >
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let element">
          {{ element.series[element.series.length - 1].value }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chart">
        <td mat-cell *matCellDef="let element">
          <ngx-charts-area-chart
            [view]="view"
            [scheme]="colorScheme"
            [showXAxisLabel]="false"
            [xAxis]="false"
            [showYAxisLabel]="false"
            [yAxis]="false"
            [xAxis]="'name'"
            [yAxis]="'value'"
            [results]="listRequests"
          >
          </ngx-charts-area-chart>
        </td>
      </ng-container>

      <ng-container matColumnDef="perc">
        <td mat-cell *matCellDef="let element">
          <span>{{
            (element.series[element.series.length - 1].value -
              element.series[0].value) /
              element.series[0].value | percent: "2.2"
          }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="sign">
        <td mat-cell *matCellDef="let element">
          <span style="color: green;"
            ><i class="material-icons">
              trending_up
            </i></span
          >
        </td>
      </ng-container>

      <!-- -->

      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ['name', 'value', 'chart', 'perc', 'sign']
        "
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
